body {
    padding: 0;
    margin: 0;
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
    font-weight: bold;
}

.mainSidebar {
    padding: 0px;
    margin: 0px;
    border-right: 2px solid #e0e0e0;
    height: 630px;
    overflow-x: hidden;
}


.mainSidebar::-webkit-scrollbar {
    display: none;
}

.mainContent {
    padding: 0px;
    margin: 0px;
    padding-left: 10px;
    border-right: 2px solid #e0e0e0;
    height: 561px;
    overflow-x: hidden;

}


.mainContent::-webkit-scrollbar {
    display: none;
}

.sidebarList {
    margin: 0px;
    padding: 20px;
    border: 0.5px solid #c0c0c0;
    width: 100%;
    text-decoration: none;
    text-align: center;
    justify-content: center;
}

.sidebarList:hover {
    background-color: #ffe6ff;
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
}

.sidebarActive {
    color: #b300b3;
    border: 20px solid #b300b3;
    border-right: transparent;
    border-top: transparent;
    border-bottom: transparent;
    background-color: #ffe6ff;

}